spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/project?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: "010713"
  mail:
    username: Hazixn_foal7713@qq.com
    password: nsquviteuwxmdgcd
    host: smtp.qq.com
    port: 465
    default-encoding: UTF-8
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          starttls:
            enable: true
            required: true

mybatis:
  type-aliases-package: com.example.demo.entity
  mapper-locations: classpath:mapper/*xml

server:
  port: 8843