<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.PostMapper">
    <insert id="insertPost" parameterType="com.example.project.entity.Post">
        insert into post(module_name,post_content,post_author,post_createtime)
        values (#{post.module_name},#{post.post_content},#{post.post_author},UTC_TIMESTAMP)
    </insert>

    <select id="getPost" resultType="com.example.project.entity.Post">
        select * from post
        where post_id = #{post_id}
    </select>

    <select id="searchPosts" resultType="com.example.project.entity.Post">
        select * from post
        where post_content like "%"#{key}"%"
        order by post_createtime desc
    </select>

    <select id="getPostsbyAuthor" resultType="com.example.project.entity.Post">
        select * from post
        where post_author = #{post_author}
        order by post_createtime desc
    </select>

    <select id="getPosts" resultType="com.example.project.entity.Post">
        select * from post
        where module_name = #{module_name}
        <if test="module_name == 'life'">
            or module_name is null
        </if>
        and post_author = #{username}
        order by post_createtime desc
    </select>

    <delete id="deletePost">
        delete from post
        where post_id = #{post_id}
    </delete>

    <select id="existLike" resultType="java.lang.Integer">
        select count(1) from post_like
        where post_id = #{post_id}
          and like_user = #{username}
    </select>

    <insert id="insertLike">
        insert into post_like
        values (#{post_id},#{username},UTC_TIMESTAMP)
    </insert>

    <delete id="deleteLike">
        delete from post_like
        where post_id = #{post_id}
         and like_user = #{username}
    </delete>

    <select id="getLikes" resultType="java.lang.String">
        select like_user from post_like
        where post_id = #{post_id}
        order by like_time desc
    </select>

    <select id="existCollect" resultType="java.lang.Integer">
        select count(1) from post_collect
        where post_id = #{post_id}
          and collect_user = #{username}
    </select>

    <insert id="insertCollect">
        insert into post_collect
        values (#{post_id},#{username})
    </insert>

    <delete id="deleteCollect">
        delete from post_collect
        where post_id = #{post_id}
          and collect_user = #{username}
    </delete>

    <select id="getCollects" resultType="java.lang.String">
        select post_id from post_collect
        where collect_user = #{username}
        order by like_time desc
    </select>

    <select id="countCollect" resultType="java.lang.Integer">
        select count(1) from post_collect
        where collect_user = #{username}
    </select>

    <update id="updateP">
        update post set
        <if test="choice==1">
            post_likes = post_likes+1
        </if>
        <if test="choice==-1">
            post_likes = post_likes-1
        </if>
        <if test="choice==2">
            post_comments = post_comments+1
        </if>
        <if test="choice==-2">
            post_comments = post_comments-1
        </if>
        <if test="choice==3">
            post_collections = post_collections+1
        </if>
        <if test="choice==-3">
            post_collections = post_collections-1
        </if>
        where post_id = #{post_id}
    </update>

<!--    <update id="updatePoint">-->
<!--        update module_point set-->
<!--        point = point+#{point}-->
<!--        where username = #{username}-->
<!--        and module_name = #{module_name}-->
<!--    </update>-->

</mapper>